.page-buttons{
    width: 100%;
    height: 10%;
    /* background-color:blue; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
}


.num-button{
    width: 40px;
    height: 40px;
    background-color: #faebd7;
    border-radius: 8px;
}
.next-button{
    width: 60px;
    height: 40px;
    background-color: #faebd7;
    border-radius: 8px;
}

button:hover{
    cursor: pointer;
    background-color: #B88E2F;
}