.shopBody-Holder{
    height: 200vh;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    /* flex-wrap: wrap; */
} 

.card-holder{
    width: 100%;
    height: 90%;
    /* background-color: red; */
    gap: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    overflow-x: auto;
 
}

.card-item{
    width: 20%;
    height: 31%;
    background-color: rgb(218, 218, 218);
    position: relative;
    box-shadow: 10px 13px 20px -7px rgba(0,0,0,0.82);
    /* -webkit-box-shadow: 10px 13px 20px -7px rgba(0,0,0,0.82); */
    -moz-box-shadow: 10px 13px 20px -7px rgba(0,0,0,0.82);
    
}


.imagecard{
    width: 100%;
    height: 70%;
    /* background-color: green; */
}
.imagecard > img{
width: 100%;
height: 100%;
object-fit: cover;
}

.textcard{
    width: 100%;
    height: 30%;
    /* background-color: yellow; */
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding-left: 10px;
    gap: 5px;
}

.textcard > h2{
    font-size: 18px;
    font-family: Poppins;
    font-weight: 600;
}
.textcard > h3{
    font-size: 12px;
    font-family: Poppins;
    font-weight: 400;
}

.rpdivz{
    width: 90%;
    height: 20%;
    /* background-color: purple; */
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.rpdivz > h2{
    font-size:15px;
    font-family:Poppins;
    font-weight:600;
}
.rpdivz > h4{
    font-size:12px;
    font-family:Poppins;
    font-weight:400;
    text-decoration: line-through;
}


.page-buttons{
    width: 100%;
    height: 10%;
    /* background-color:blue; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}


.num-button{
    width: 40px;
    height: 40px;
    background-color: #faebd7;
    border-radius: 8px;
}
.next-button{
    width: 60px;
    height: 40px;
    background-color: #faebd7;
    border-radius: 8px;
}

button:hover{
    cursor: pointer;
    background-color: #B88E2F;
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent black */
    opacity: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    transition: opacity 0.3s ease;
  }
  
  .overlay:hover {
    opacity: 1;
  }

  .discount-image{
    width: 90%;
    height: 23%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content:flex-end;
  }

  .discount-holder{
    width: 20%;
    height: 60%;
    background-color: pink;
    border-radius: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .add-to-cart-btn {
    height: 15%;
    width: 60%;
    padding: 10px 20px;
    background-color: #ffffff; /* White background */
    color: #333; /* Dark text color */
    border: none;
    cursor: pointer;
    outline: none;
    font-size: 16px;
    font-weight: 600;
    color: #B88E2F;
  }
  
  .add-to-cart-btn:hover {
    background-color: #333; 
    color: #ffffff; 
  }

  .sharecompare{
    width: 100%;
    height: 22%;
    background-color: yellow;
  }

  @keyframes shimmer {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }
  
  .shimmer {
    animation: shimmer 2s infinite;
  }

  @media only screen and (min-width: 320px) and (max-width: 580px){

    .shopBody-Holder{
        /* background-color: red; */
        
    }

    .card-holder{
        /* background-color: yellow; */
        flex-wrap: wrap;
        overflow-x: auto;
    }

    .card-item{
        /* background-color: purple; */
        width: 80%;
    }
  }

  
  @media only screen and (min-width: 768px) and (max-width: 1024px){
    .shopBody-Holder{
        /* background-color: yellow; */
    }
     
    .card-holder{
        /* background-color: red; */
    }

    .card-item{
        width: 46%;
        height: 30%;
        /* background-color: green; */
    }
  }