@tailwind base;
@tailwind components;
@tailwind utilities;


.hyphenated {
    hyphens: auto !important;
    word-wrap: break-word;
  }

  /* Custom scrollbar styles */
@layer utilities {
  .scrollbar-custom::-webkit-scrollbar {
    width: 8px;
  }
  .scrollbar-custom::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  .scrollbar-custom::-webkit-scrollbar-thumb {
    background: #b08a30; /* Green scrollbar */
    border-radius: 4px;
  }
  .scrollbar-custom::-webkit-scrollbar-thumb:hover {
    background: #c09225; /* Darker green on hover */
  }
}
  
