*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.ProductcomparisonContainer{
    width: 100%;
    height: 70vh;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.ProductcomparisonConWrapper{
    width: 90%;
    height: 100%;
    /* background-color: darkcyan; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ProductComParBox{
    width: 25%;
    height: 100%;
    /* background-color: black; */
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;

}
.ProductComParBox1{
    width: 25%;
    height: 100%;
    /* background-color: black; */
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;

}

.ProductComParBoxup{
    width: 100%;
    height: 18%;
    /* background-color: burlywood; */
    display: flex;
    align-items: center;
}
.ProductComParBoxup1{
    width: 100%;
    height: 18%;
    /* background-color: burlywood; */
    display: flex;
    align-items: center;
}

.ProductComParBoxup h3{
    font-size: 23px;
    font-weight: 600;
    line-height: 2.8rem;
    font-family: sans-serif;
    padding-left: 4%;

}

.ProductComParBoxdown{
    width: 100%;
    height: 82%;
    /* background-color: blueviolet; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
}

.ProductComParBoxdownwrap1{
    width: 95%;
    height: 100%;
    /* background-color: red; */
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    gap: 40px;
}
.ProductComParBoxdownwrap{
    width: 75%;
    height: 100%;
    /* background-color: red; */
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    gap: 40px;
}

.ProductComParBoxdownwrap p{
    font-size: 16px;
    /* font-family: sans-serif; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    line-height: 1.8rem;
    padding-left: 2%;
    
}
.ProductComParBoxdownwrap1 p{
    font-size: 16px;
    /* font-family: sans-serif; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    line-height: 1.8rem;
    padding-left: 2%;
    
}

@media screen and (Width <=765px) {

    .ProductcomparisonContainer{
        width: 100%;
        height: 75vh;
        /* background-color: blue; */
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .ProductcomparisonConWrapper{
        width: 100%;
        height: 100%;
        /* background-color: darkcyan; */
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .ProductComParBoxdownwrap1{
        width: 95%;
        height: 100%;
        /* background-color: red; */
        display: flex;
        /* align-items: center; */
        flex-direction: column;
        gap: 40px;
    }
    .ProductComParBoxdownwrap{
        width: 85%;
        height: 100%;
        /* background-color: red; */
        display: flex;
        /* align-items: center; */
        flex-direction: column;
        gap: 40px;
    }

    .ProductComParBox{
        width: 35%;
        height: 100%;
        /* background-color: black; */
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    
    }
    .ProductComParBox1{
        width: 25%;
        height: 100%;
        /* background-color: black; */
        border-radius: 5px;
        display: none;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    
    }
    
    .ProductComParBoxup{
        width: 100%;
        height: 18%;
        /* background-color: burlywood; */
        display: flex;
        align-items: center;
    }
    .ProductComParBoxup1{
        width: 100%;
        height: 18%;
        /* background-color: burlywood; */
        display: flex;
        align-items: center;
    }
    
    .ProductComParBoxup h3{
        font-size: 20px;
        font-weight: 600;
        line-height: 2.7rem;
        font-family: sans-serif;
        padding-left: 5%;
    
    }
    
    .ProductComParBoxdown{
        width: 100%;
        height: 82%;
        /* background-color: blueviolet; */
        display: flex;
        /* align-items: center; */
        flex-direction: column;
        gap: 30px;
    }
    
    .ProductComParBoxdown p{
        font-size: 14px;
        /* font-family: sans-serif; */
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 500;
        line-height: 1.9rem;
        padding-left: 2%;
        
    }
}
@media screen and (Width <=820px) {

    .ProductcomparisonContainer{
        width: 100%;
        height: 75vh;
        /* background-color: blue; */
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .ProductcomparisonConWrapper{
        width: 100%;
        height: 100%;
        /* background-color: darkcyan; */
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .ProductComParBoxdownwrap1{
        width: 95%;
        height: 100%;
        /* background-color: red; */
        display: flex;
        /* align-items: center; */
        flex-direction: column;
        gap: 40px;
    }
    .ProductComParBoxdownwrap{
        width: 85%;
        height: 100%;
        /* background-color: red; */
        display: flex;
        /* align-items: center; */
        flex-direction: column;
        gap: 40px;
    }

    .ProductComParBox{
        width: 35%;
        height: 100%;
        /* background-color: black; */
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    
    }
    .ProductComParBox1{
        width: 25%;
        height: 100%;
        /* background-color: black; */
        border-radius: 5px;
        display: none;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    
    }
    
    .ProductComParBoxup{
        width: 100%;
        height: 18%;
        /* background-color: burlywood; */
        display: flex;
        align-items: center;
    }
    .ProductComParBoxup1{
        width: 100%;
        height: 18%;
        /* background-color: burlywood; */
        display: flex;
        align-items: center;
    }
    
    .ProductComParBoxup h3{
        font-size: 20px;
        font-weight: 600;
        line-height: 2.7rem;
        font-family: sans-serif;
        padding-left: 5%;
    
    }
    
    .ProductComParBoxdown{
        width: 100%;
        height: 82%;
        /* background-color: blueviolet; */
        display: flex;
        /* align-items: center; */
        flex-direction: column;
        gap: 30px;
    }
    
    .ProductComParBoxdown p{
        font-size: 14px;
        /* font-family: sans-serif; */
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 500;
        line-height: 1.9rem;
        padding-left: 2%;
        
    }
}

@media screen and (Width <=480px) {

    .ProductcomparisonContainer{
        width: 100%;
        height: 85vh;
        /* background-color: blue; */
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .ProductcomparisonConWrapper{
        width: 100%;
        height: 100%;
        /* background-color: darkcyan; */
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .ProductComParBoxdownwrap1{
        width: 95%;
        height: 100%;
        /* background-color: red; */
        display: flex;
        /* align-items: center; */
        flex-direction: column;
        gap: 50px;
    }
    .ProductComParBoxdownwrap{
        width: 85%;
        height: 100%;
        /* background-color: red; */
        display: flex;
        /* align-items: center; */
        flex-direction: column;
        gap: 50px;
    }

    .ProductComParBox{
        width: 35%;
        height: 100%;
        /* background-color: black; */
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    
    }
    .ProductComParBox1{
        width: 25%;
        height: 100%;
        /* background-color: black; */
        border-radius: 5px;
        display: none;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    
    }
    
    .ProductComParBoxup{
        width: 100%;
        height: 15%;
        /* background-color: burlywood; */
        display: flex;
        align-items: center;
    }
    .ProductComParBoxup1{
        width: 100%;
        height: 15%;
        /* background-color: burlywood; */
        display: flex;
        align-items: center;
    }
    
    .ProductComParBoxup h3{
        font-size: 19px;
        font-weight: 600;
        line-height: 2.7rem;
        font-family: sans-serif;
        padding-left: 5%;
        overflow-wrap: break-word;
    
    }
    
    .ProductComParBoxdown{
        width: 100%;
        height: 82%;
        /* background-color: blueviolet; */
        display: flex;
        /* align-items: center; */
        flex-direction: column;
        gap: 30px;
    }
    
    .ProductComParBoxdown p{
        font-size: 13px;
        /* font-family: sans-serif; */
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 500;
        line-height: 1.9rem;
        padding-left: 2%;
        overflow-wrap: break-word;
        
    }
}

/* 
@media screen and (Width <=480px) {

    .ProductcomparisonContainer{
        width: 100%;
        height: 1250px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .ProductcomparisonConWrapper{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }

        .ProductComParBoxdownwrap1{
        width: 90%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .ProductComParBoxdownwrap{
        width: 90%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .ProductComParBox{
        width: 100%;
        height: 100%;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    
    }
    
    .ProductComParBoxup{
        width: 100%;
        height: 18%;
        display: flex;
        align-items: center;
    }
    
    .ProductComParBoxup h3{
        font-size: 20px;
        font-weight: 600;
        line-height: 2.7rem;
        font-family: sans-serif;
        padding-left: 7%;
    
    }
    
    .ProductComParBoxdown{
        width: 100%;
        height: 82%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    
    .ProductComParBoxdown p{
        font-size: 14px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 500;
        line-height: 1.9rem;
        padding-left: 2%;
        
    }

    .ProductComParBox1{
        display: none;
    }

    .ProductComParBoxup1{
        display: none;
    }

} */
